<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>this is login page </h1>
      <form action="/submituser" method="POST">
        Username: <input type="text" name="username"><br>
        Address: <input type="text" name="address"><br>
        Pincode: <input type="text" name="pincode"><br>
        State: <input type="text" name="state"><br>
        Mobile: <input type="text" name="mobile"><br>
        Door Number: <input type="text" name="door_number"><br>
        Favorite Color: <input type="text" name="color"><br>
        <button type="submit">Submit</button>
    </form>
     <a href="{{ url_for('seller') }}">if seller click this to make an seller account</a>    
</body>
</html>