<!DOCTYPE html>
<html>
<head>
<style>
.box {
  width: 400px;
  height: auto;
  border: 2px solid #333;
  background-color: #f0f0f0;
  border-radius: 8px;
  padding: 10px;
  text-align: center;
}
</style>
</head>
<body>

<div class="box">
  <ul>
    <li>Sales in 2 days</li>
    <li>People visited</li>
    <li>Revenue</li>
    <li>Growth</li>
  </ul>
</div>

<form action="/addtodb" method="post" enctype="multipart/form-data">
  <input type="file" name="image" accept="image/*" required><br><br>
  <input type="text" name="description" placeholder="Enter description" required><br><br>
  <button type="submit">Click to Upload</button>
</form>


<div class="image">
  <h1>this are the image from the database</h1>
  {% for row in rows %}
  <p>{{ row[1] }}</p>
  <img src="/image/{{ row[0] }}" width="200">
  <hr>
{% endfor %}

</div>
</body>
</html>
